<ion-header>
  <ion-toolbar>
    <ion-title>stock-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
    <ion-input placeholder="Symbol" [(ngModel)]="stockSymbol"></ion-input>
</ion-item>

<ion-item>
    <ion-button color='primary' expand="block" (click)="findStock()">Find</ion-button>
   </ion-item>

<ion-item>
<ion-button color='primary' expand="block" (click)="save()">Save!</ion-button>
</ion-item>

<ion-item>
 <ion-list>Current price of {{stockSymbol}}: ${{currentStockPrice}}</ion-list>
</ion-item>

</ion-content>
