<ion-header>
  <ion-toolbar>
    <ion-title>Find and Add Stock Tickers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
    <ion-input placeholder="Symbol" [(ngModel)]="stockSymbol"></ion-input>
</ion-item>

<ion-item>
    <ion-button color='primary' expand="full" (click)="findStock()">Find</ion-button>
</ion-item>

<ion-item>
    <ion-button color='primary' expand="full" (click)="saveStocks()">Save!</ion-button>
</ion-item>

<ion-item>
  <ion-list><b>Finds And Saves</b></ion-list>
</ion-item>

<ion-item>
    <ion-list>Current price: <b>${{currentStockPrice}}</b> for '{{stockSymbol}}'</ion-list>
</ion-item>

</ion-content>
