<ion-header>
  <ion-toolbar>
    <ion-title>
      Stock Market App
    </ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>

     <ion-item>
        <ion-input  placeholder="Search.."></ion-input>
        <button clear item-right>Search</button>
       </ion-item>

     <ion-list>
       <i><b>List of stocks searched</b></i>
       <ion-item *ngFor="let stock of savedStocks">
         <p>{{stock.stock}}</p>
       </ion-item>
       
     </ion-list>

              <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button (click)="StockAddPage()">
                  <ion-icon name="arrow-dropleft">Add</ion-icon>
                </ion-fab-button>
              </ion-fab>
    
 </ion-content>